.thumbnail{
    height: 200px;
    background-size: cover;
}

body{
  /* background-color: linear-gradient(#1d0dcaf0, #c383ff); */
  /* background: linear-gradient(#1d0dcaf0, #c383ff); */
  background: linear-gradient(90deg, #9443ce, #1fbec9);
  /* background-color: #002a3f; */
    /* background-image: linear-gradient(#43cea2 50%, #185a9d 50%); */
    padding: 0;
    margin: 0;
}

img{
    width: 250px;
    /* height: 450px; */
    object-fit: contain;
    margin: 1px;
    /* margin-bottom: -15px; */
    margin-bottom: -12px;
    border: none;
}

.imageResize{
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 90vw;
    flex-direction: column;
}

.container{
  height: 100rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container2{
    width: 110%;
    height: 550px;
    margin-left: -55px;
}

#result{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.textbox{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    mix-blend-mode: multiply;
    z-index: 1;
}

#textButton{
    z-index: -1;
    cursor: pointer;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 225px;
}

#textBoxButton{
  font-size: 35px;
}

#clearButton {
    background: linear-gradient(to left, #1d0dca17 50%, #c383ff 50%) right;
    background-size: 200%;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #8400ff;
    cursor: pointer;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
    padding: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    width: max-content;
    left: 10px;
    bottom:10px;
    margin-top: -50px;
}

#clearButton:hover {
  box-shadow: 15px 15px 15px 0 #002a3f, 15px 15px 30px 0 #1d0dca17;
  background-position: left;
  transition: .90s ease-out;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  #clearButton {
    padding: 24px;
  }
}

#textButton:hover{
    width: 650px;
    height: 425px;
}

.divFiles{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#files{
    color: transparent;
}

label#label input[type="file"] {
    position: absolute;
    top: -1000px;
  }
  #label {
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 15px;
    background: #1d0dca17 50%;
    color: #8400ff;
    transform: scale(0.5) translate(50%, 50%);
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 35px;
    /* margin-right: 71%; */
  }
  #label:hover {
    color: #c383ff;
    background-color: #002a3f;
  }
  #label:active {
    background: #1d0dca17;
    color: #c383ff;
  }
  #label:invalid+span {
    color: #000000;
  }
  #label:valid+span {
    color: #ffffff;
  }

.borderInput{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 600px) {
  #clearButton{
    font-size: 15px;
    margin-left: 20px;
    bottom: 0;
  }
  #videoId{
    visibility: hidden;
  }
  #textButton{
    color: #fff;
    background-image: linear-gradient(#43cea2, #185a9d);
    border: none;
    height: 110%;
    margin-top: 215px;
    z-index: 1;
    color: aqua;
  }
  .textbox{
    background-color: transparent;
  }
  #label{
    display: none;
    font-size: 50px;
    width: max-content;
    margin-left: -275px;
  }
}
